version: '3'
services:
  redis:
    image: 'redis:5.0.7'
    command: redis-server
    ports:
      - '6380:6379'
    volumes:
      - redis:/var/lib/redis/data
      
  api:
    image: outintech/nbjc-app:latest
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    depends_on:
      - redis
    ports:
      - '3000:3000'
    env_file:
      - .env

volumes:
  redis:
      
